footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
body {
    background: linear-gradient(#97ffe9,#ffd2f9);
}
p {
    text-align: center;
    font-weight: bold;
    font-family: 'Chilanka', cursive;
}
#title{
    text-align: center;
    color: #ffffff;
    font-family: 'Chilanka', cursive;
    font-weight: bolder;
    font-size: 20;
    position: absolute;
    bottom: 100px;
}
#navImage{
    position: relative;
}
