header, footer {
    width: 100%;
}
#navImage{
    z-index: 1;
    position: absolute;
}
#title{
    text-align: center;
    color: #ffffff;
    font-family: 'Chilanka', cursive;
    font-weight: bolder;
    z-index: 99;
    position: relative;
    bottom: 100px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body {
    background: linear-gradient(#97ffe9,#ffd2f9);
}
p {
    text-align: center;
    font-weight: bold;
    font-family: 'Chilanka', cursive;
    font-size: 16px;
}
